$primaryRed: hsl(0, 78%, 62%);
$primaryCyan: hsl(180, 62%, 55%);
$primaryOrange: hsl(34, 97%, 64%);
$primaryBlue: hsl(212, 86%, 64%);
$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$grayishBlueOpacity: HSLa(229, 6%, 66%, .4);
$veryLightGray: hsl(0, 0%, 98%);


