.card {
    background-color: #fff;
    min-height: 210px;
    max-height: 300px;
    padding: 1em 3em;
    margin: 1.5em 0 1.5em 0;
    border-top: .3em solid;
    border-radius: 6px;
    box-shadow: 0 4px 14px 2px $grayishBlueOpacity;

    &_area {
        margin-bottom: 3em;

        @include atLarge {
            display: flex;
            align-items: center;
            justify-content: space-around;


        }
    }

    &_section {
        @include atLarge {
            width: 31%;
            // max-width: 350px;
        }
    }

    &_header h1 {
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    &_subtitle h3{
        margin-top: 0;
        font-size: .8rem;
    }

    &_1 {
        border-color: $primaryCyan;
    }

    &_2 {
        border-color: $primaryRed;
    }

    &_3 {
        border-color: $primaryOrange;
    }

    &_4 {
        border-color: $primaryBlue;
    }
}

.card_icon {
    padding-top: 2em;
   
    &-area {
        display: flex;
        justify-content: right;
    }
}