.card {
    font-size: .7rem;
    background-color: #fff;
    min-height: 20em;
    padding: 2em;
    margin: 2em;
    border-top: .3em solid;

    &_area {
        padding-bottom: 3em;
    }

    &_1 {
        border-color: $primaryCyan;
    }

    &_2 {
        border-color: $primaryRed;
    }

    &_3 {
        border-color: $primaryOrange;
    }

    &_4 {
        border-color: $primaryBlue;
    }
}

.card_icon {
    padding-top: 5em;
   
    &-area {
        display: flex;
        justify-content: right;
    }
}